<%= form_for(current_user.carts.build(product_id: @product.id), remote: true) do |f| %>
  <div><%= f.hidden_field :product_id %></div>
  <%= f.submit "do koszyka", class: "btn btn-large btn-primary" %>
<% end %>