<footer class="footer">
   <div class="span5 offset4">
      Copyright by wilqq, version:
      <span class="badge">0.1 Beta</span>
      </div>
  <nav>
    <ul>
      <li><%= link_to "O stronie",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
    </ul>
  </nav>
</footer>